<h1>National Parks Passport</h1>
<h4>A Collection of National Parks Visited</h4>
<div class="one-park">
	<% @parks.each do |park| %>
	<a href="/parks/<%= park.id %>">
	<h2><%= park.name %></h2>
	</a>
	<p><%= park.description %></p>
	<p><img src="<%= park.picture %>"></p>
	<% end %>
</div>
