<div class="hp">
	<div class="hp-intro">
		<h1>National Parks Passport</h1>
		<h4>A Collection of National Parks Visited</h4>
		<div>
			<a href="/parks"><button>Parks I've Visited</button></a>
			<a href="https://www.nps.gov/findapark/index.htm" target="_blank"><button>See All Parks</button></a>
		</div>
	</div>
</div>
